<!DOCTYPE html>
<html>
<head>
<title>Weather App</title>
<link rel="stylesheet" href="/css/style.css">
</head>
    <body>
        <!-- within double curly brackets we can access the value passed -->
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>